<div class="board"
(keydown)="move($event)"
>
  <div *ngFor="let row of board; let  y = index">
    <div class="row">
      <div *ngFor="let cell of row; let  x = index">
        <div class="cell"
        [ngClass]="{
          'blackSquare': cell === 0,
          'yellowSquare': cell === 1,
          'redSquare': cell === 2,
          }">
          </div>
      </div>
    </div>
  </div>
</div>

<button (click)="start()" class="button">start</button>
<button (click)="drawShape()" class="button">drawShape</button>
<button (click)="updatePosition(this.position.y, this.position.x)" class="button">updatePosition</button>
<button (click)="clearShape()" class="button">clearShape</button>
<button (click)="stopGame()" class="button">stopGame</button>
<p>
  {{errorLog}}
</p>
